{% load static %}
<!DOCTYPE html>
<html>

<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <meta charset="utf-8">
  <title>MappiKidia</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
  <meta http-equiv="Content-Type" content="text/html" charset="utf-8">

  <input id="search-box" type="text" placeholder="🔎 Google 지도 검색" name="search-box">
  <div id="map-container">


<div id="mappikipedia">MappiKidia
  <div id="user-buttons">
    <button id="login-button">로그인</button>
    <button id="signup-button">회원가입</button>
  </div>
</div>
    <div id="map"></div>
    <button id="toggle-button" class="material-symbols-outlined">&#xe9bd;</button>

<div id="result-text"></div>


</div>

 <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVtcIioaXdif7DOH9VW_hez7VlX43zwu0&libraries=places&callback=initMap&region=kr"></script>
<script>


    var markers = [];
    var wikiOpen = false;
    var searchDone = false;

    function loadWikipedia() {
      var wikiPanel = document.getElementById('result-text');
      wikiPanel.style.width = '30%'; // 검색 이후에는 항상 30%로 열리도록
      wikiPanel.style.padding = '20px'; // padding을 20으로 설정
      wikiPanel.style.display = 'block'; // 항상 보이도록 설정
      wikiPanel.style.overflow = 'auto'; // 스크롤이 가능하도록 설정
    }

    function initMap() {
      var center = { lat: 35.7, lng: 127.865249 };
      var map = new google.maps.Map(
        document.getElementById('map'), {
          zoom: 7.5,
          center: center,
          draggable: false
        });

      var locations = [];

      var searchBox = new google.maps.places.SearchBox(document.getElementById('search-box'));
      map.controls[google.maps.ControlPosition.TOP_CENTER].push(document.getElementById('search-box'));

      map.addListener('bounds_changed', function () {
        searchBox.setBounds(map.getBounds());
      });

      searchBox.addListener('places_changed', function () {
      var places = searchBox.getPlaces();

      if (places.length == 0) {
        return;
      }

      markers.forEach(function (marker) {
        marker.setMap(null);
      });
      markers = [];

      var bounds = new google.maps.LatLngBounds();
      places.forEach(function (place) {
        if (!place.geometry) {
          console.log("Returned place contains no geometry");
          return;
        }
        if (place.geometry.viewport) {
          bounds.union(place.geometry.viewport);
        } else {
          bounds.extend(place.geometry.location);
        }
        markers.push(new google.maps.Marker({
          map: map,
          position: place.geometry.location
        }));
      });
      map.fitBounds(bounds);

      loadWikipedia();

      document.getElementById('search-box').style.marginTop = '30px';

      searchDone = true;
      map.setOptions({ draggable: true });
    });


      map.addListener('click', function (event) {
        if (!searchDone) {
          return;
        }
        placeMarkerAndRemoveOthers(event.latLng);

        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'location': event.latLng }, function (results, status) {
          if (status === 'OK') {
            if (results[0]) {
              document.getElementById('search-box').value = results[0].formatted_address;
            } else {
              window.alert('No results found');
            }
          } else {
            window.alert('Geocoder failed due to: ' + status);
          }
        });
      });

      function placeMarkerAndRemoveOthers(location) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(null);
        }
        markers = [];

        markers.push(new google.maps.Marker({
          position: location,
          map: map
        }));
      }

      for (var i = 0; i < locations.length; i++) {
        markers.push(new google.maps.Marker({
          position: locations[i],
          map: map
        }));
      }
    }

    var toggleButton = document.getElementById('toggle-button');
    toggleButton.addEventListener('click', function () {
      var wikiPanel = document.getElementById('result-text');
      if (searchDone) {
        if (wikiOpen) {
          wikiPanel.style.width = '0%';
          wikiPanel.style.paddingLeft = '0px';
          wikiPanel.style.display = 'none';
          toggleButton.classList.remove('open');
        } else {
          wikiPanel.style.width = '30%';
          wikiPanel.style.paddingLeft = '-10px';
          wikiPanel.style.display = 'block';
          toggleButton.classList.add('open');
        }
        wikiOpen = !wikiOpen;
      }
    });
  </script>
</body>

</html>

<script type="text/javascript">
   $(document).ready(function () {
      $("#search-box").on("keypress", function (e) {
         if (e.which === 13) {
            e.preventDefault();
            var city = $(this).val();
            $.ajax({
               type: "POST",
               url: "{% url 'wikimap:wiki_result' %}",
               data: { 'city': city, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
               dataType: "json",
               success: function (response) {
                  if (response.message) {
                    var cityInfoList = response.city_info_list;
                    var textContent = '';

                    for (var i = 0; i < cityInfoList.length; i++) {
                      var cityInfo = cityInfoList[i];

                      textContent += '<h2>' + cityInfo.title + '</h2>\n';
                      textContent += '<p><strong>도시정보:</strong> ' + cityInfo.summary + '</p>\n';
                      textContent += '<p><strong>URL:</strong> <a href="' + cityInfo.url + '">' + cityInfo.url + '</a></p>\n\n';
                    }

                    $("#result-text").html(textContent);
                  }
               },
               error: function (request, status, error) {
                  alert("댓글 내용을 작성하세요.");
               },
            });
         }
      });
   });

   $(document).ready(function () {
    $("#login-button").on("click", function () {
      window.location.href = "/login/";
    });

    $("#signup-button").on("click", function () {
      window.location.href = "/signup/";
    });
 });
</script>