{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="utf-8">
    <title>MappiKidia</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <style>
        #map {
            pointer-events: none; /* 이 부분이 지도에 대한 상호 작용을 비활성화합니다. */
        }
    </style>
</head>

<body>
    <div id="map-container">
        <div id="mappikipedia">MappiKidia</div>
        <div id="map"></div>
        <div id="login-form">
            ID<input type="text" id="username" placeholder="아이디" name="username">
            <br>
            password<input type="password" id="password" placeholder="비밀번호" name="password">
            <br>
            <button id="login-button">로그인</button> <button id="signup-button">회원가입</button>
            <br>

        </div>
    </div>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVtcIioaXdif7DOH9VW_hez7VlX43zwu0&libraries=places&callback=initMap&region=kr"></script>

    <script>
        function initMap() {
            var center = { lat: 35.7, lng: 127.865249 };
            var map = new google.maps.Map(
                document.getElementById('map'), {
                    zoom: 7.5,
                    center: center
                });
        }

        // Use $(document).ready() to ensure the DOM is fully loaded
        $(document).ready(function () {
            // Your jQuery code here
            $("#login-button").on("click", function () {
                var username = $("#username").val();
                var password = $("#password").val();
                var csrf_token = '{{ csrf_token }}';

                $.ajax({
                    url: "{% url 'wikimap:login' %}",
                    type: "POST",
                    data: {
                        username: username,
                        password: password,
                        csrfmiddlewaretoken: csrf_token
                    },
                    success: function (response) {
                        if (response.success) {
                            alert("로그인 성공");
                            window.location.href = "{% url 'wikimap:home_page' %}";
                        } else {
                            alert("로그인 실패: " + response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("로그인 요청 실패: " + error);
                    }
                });
            });

            // Other jQuery event bindings
            $("#signup-button").on("click", function () {
                window.location.href = "/signup/";
            });
        });
    </script>
</body>

</html>